NUXT_YOUCAN_API_KEY=102
NUXT_YOUCAN_API_SECRET=npk8g7MLxHmu7RZWhDrRKzeNF424kN4m9YrGMgNV
NUXT_YOUCAN_API_SCOPES=*
NUXT_YOUCAN_API_REDIRECT=http://localhost:3000/auth/callback
DATABASE_URL="file:./dev.db"